
body{
    background-color: #faf6f6;
    
}
header{
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    background: #FFFFFF;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-height: 10%;
    align-items: center;
}
.logo{
    width: 160px;
    margin-left: 30px;
}
.frame1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    justify-content: center;
    margin: 1%;
}

.frame1 h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    line-height: 19px;
    text-align: center;
    color: #E74C3C;
    margin: 0%;
    padding: 0%;
}
.frame1 h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-transform: uppercase;
    color: #313131;
    margin: 0%;
    padding: 0%;
    line-height: 18px;
}

.nav {
    display: flex;
    align-items: center;
    gap: 10%;
}

.About{
    width: 79px;
    height: 22px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #505050;
}
.Work{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 22px;
    text-align: center;
    text-transform: capitalize;
    color: #E74C3C;
    flex-direction: row;
    align-items: flex-start;
    padding: 10px 21px;
    gap: 10px;
    background-color: transparent;
    width: 180px;
    height: 42px;
    border: 2px solid #E74C3C;
    border-radius: 31px;
    margin-right: 10%;
}

section{
    margin-top: 12%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 70px;
}

section h2{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 22px;
    text-align: center;
    line-height: 27px;
}
/*
.upload{
  background-color: #04AA6D;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
*/
input#card-upload{
    display: none;
}
input#card-upload + label{
    background-color: #E74C3C;
    border: none;
    color: white;

    text-decoration: none;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;

    cursor: pointer;
    border-radius: 54px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    height: 35px;
    padding: 16px 32px;
}
input#card-upload + label:hover{
    background-color: #c24031;
}
